@media screen and (min-width:428px) {
    .container {
        max-width: 428px;
    }

   
}
@media screen and (max-width: 767px) {
    .footer>.container {   
        justify-content: center;}
        .social-paragraf{
            margin-bottom: 16px;
        }
        .footer-logo{
            text-align: center;
            margin: auto;
            margin-bottom: 16px; 
        }
       
    }
    
@media screen and (max-width: 767px) {
    .header {
        padding: 24px 0;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }

    .customers-container {
        max-width: 584px;
    }

    .current::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 4px;
        background-color: var(--listmenu-color);
        border-radius: 2px;
        width: 100%;
        color: var(--listmenu-color);
    }

    /* .sectiontwo {
        width: 768px;
    } */

    .header>.container {
        display: flex;
        width: 768px;
        align-items: center;
    }

    .address-item-contact {

        font-size: 12px;
        line-height: 1, 16;
    }



    .menu-open-btn {
        display: none;
    }

    .mob-menu {
        display: none;
    }

    .listmenu {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        gap: 40px;
    }

    .address-item {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address {
        display: flex;

    }

    .sked-li {

        width: calc((100% - 24px) / 2);
    }

    .sked {
        padding: 0;
        gap: 72px 24px;
    }

    .sked-list {
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.07 em;
        color: var(--span-color);
        margin-bottom: 8px;
        text-align: left;
        text-transform: capitalize;
    }

    .sectionfour-ourteam-item {
        column-gap: 24px;
        row-gap: 64px;

    }

    .items-list {
        display: flex;
        gap: 24px;
        width: calc((100% - 48px) / 3);
        justify-content: center;
    }

    .footer>.container {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        width: 584px;


    }

    .foorer-modal-name {

        font-weight: 500;
        line-height: 1.5;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: var(--white-color);
        text-align: left;
        margin-bottom: 16px; 

    }


    .footer-logo {
        /* display: flex;
    justify-content: center; */
        text-align: left;
    }

    .customers-items {

        display: flex;
        gap: 72px 24px;
    }

    .type {
        font-size: 56px;
        max-width: 496px;
    }

    .sectionone {
        padding-top: 112px;
        padding-bottom: 112px;
        background: var(--span-color);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bgt.jpg);
    }

    @media(min-device-pixel-radio:2),
    (min-resolution:192dpi),
    (min-resolution:2dppx) {
        .sectionone {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/Dark-bgt2x.jpg);
        }
    }

    .footer-modal-form {
        display: flex;
        gap: 24px;
    }

    .social-paragraf {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white-color);
        text-align: left;
        margin-bottom: 16px;
    }
  
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 408px;
        min-height: 584px;
        background: var(--background-modal);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
    }




    .footer-modal-form {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header>.container {
        display: flex;
        width: 1158px;
        align-items: center;
        padding-top: none;
        padding-bottom: none;
    }

    .address-item-contact {

        font-size: 16px;
        line-height: 1, 5;
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 408px;
        min-height: 584px;
        background: var(--background-modal);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
    }

    .address {
        margin-left: auto;
    }

    /* .footer-modal{
        width: 320px;
      }  */
    .menu-open-btn {
        display: none;
    }

    .logo-paragraf {
        margin-right: 120px;
    }

    .container-social {
        margin-right: 80px;
    }

    .footer {
        display: flex;
        background-color: var(--span-color);
        padding: 100px 0;
        gap: unset;
    }

    .footer-logo {
        /* display: flex; 
        justify-content: center;
         margin-bottom: 16px;  */
        text-align: left;
    }

    .footer-paragpaf {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--paragraf-tooter);
        width: 264px;
    }

    .social-paragraf {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--white-color);
        margin-bottom: 16px;
        text-align: left;
    }

    .social-item {
        display: flex;
        gap: 16px;
    }


    .icons-media {
        width: 40px;
        height: 40px;
    }

    .social-list-media {
        width: 100%;
        height: 100%;
        background-color: var(--brand-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-modal-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .foorer-modal-name {
     margin-bottom: 16px; 
        font-weight: 500;
        line-height: 1.5;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: var(--white-color);
        text-align: left;

    }

    .foorer-modal-element {
        width: 264px;
    }


    .sked-li {

        width: calc((100% - 72px) / 4);
    }

    .sked-icons {
        display: flex;
        padding-top: 71px;
        flex-direction: column;
        gap: 24px;
        padding: 24px 100px
    }

    .sked-icons-social {
        width: 64px;
        height: 64px;
    }

    .sked-list {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.4px;
        left: 0;
        text-align: left;

    }

    .sectionfour {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .sectionfour-li {
        width: calc((100% - 72px) / 4);
    }

    .sectionthree {
        display: flex;
    }

    .items-list {

        width: calc((100% - 120px) / 6);
    }

    .sectionone {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desk.jpg);
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 188px;
        padding-top: 188px;
    }

    .type {
        max-width: 496px;
    }



    .listmenu {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: flex;
        gap: 40px;
    }

    .address-item {

        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .mob-menu {
        display: none;
    }

    .header {
        display: flex;
        flex-wrap: wrap;

        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
        border-bottom: 1px solid #e7e9fc;
    }

    .sked-paragraf {
        align-self: stretch;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--paragraf-color);
        font-size: 16px;
    }

    .form-telegram {
        margin-left: 16px;
        color: var(--white-color);

    }

    .footer>.container {
        display: flex;
        flex-wrap: wrap;
        gap: unset;
        width: 1158px;

    }


    .current::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 4px;
        background-color: var(--listmenu-color);
        border-radius: 2px;
        width: 100%;
        color: var(--listmenu-color);
    }


    @media(min-device-pixel-radio:2),
    (min-resolution:192dpi),
    (min-resolution:2dppx) {
        .sectionone {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office2x.jpg);
        }
    }
}